.ubicaciones {
  &__citys {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 2em;
  }
}

.container {
  position: relative;
  text-align: center;

  &__title {
    position: absolute;
    top: 40px;
    left: 50%;
    color: white;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }

  &__top:hover{
    opacity: 0;
  }

  &__button {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #A6BF9D;
    border: none;
    border-radius: 61px;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }

  &__button:hover{
    background-color: #A6BF9D;
    color: white;
    border: none;
  }
}


.container__barcelona:hover{
  background-image: url("../../../public/assets/ubications/barcelona2.svg");
}
.container__madrid:hover{
  background-image: url("../../../public/assets/ubications/madrid2.svg");
}
.container__bilbao:hover{
  background-image: url("../../../public/assets/ubications/bilbao2.svg");
}