.gallery{
    &__images{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__ellipse{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 60px;
    }
}

.imagen:hover{
    background-image: url("../../../public/assets/gallery/imagenhover.svg");
}