@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__inputs {
    display: flex;
    gap: 40px;
  }

  &__switch {
    display: flex;
    align-items: center;
    gap: 10px;

    &--img {
      border: solid 1px #4d4d4d;
      background-color: #e5efe9;
      border-radius: 100px;
      height: 15px;
      width: 32px;
    }

    p {
      font-size: 14px;
      color: #7d9077;
    }

    img {
      display: flex;
      padding: 1px;
      position: absolute;
      z-index: 1;
    }

    img:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 78px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  input {
    background-color: #f0f4ef;
    color: #7d9077;
    border: solid 1px #f0f4ef;
    width: 280px;
    height: 43px;
    border-radius: 61px;
    padding-left: 0.5em;
  }

  input::placeholder {
    color: #7d9077;
    padding-left: 0.5em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }

  .clear-button {
    background-color: #f8f8f8;
    border: none;
    color: #7d9077;
    font-family: "Inter", sans-serif;
    font-size: 12.5px;
    font-weight: 500;
    width: 83px;
    height: 42px;
  }
}

.more-button {
  background-color: #a6bf9d;
  border: none;
  border-radius: 61px;
  color: white;
  width: 131px;
  height: 54px;
  font-size: 27px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.more-button:hover {
  background-color: white;
  border: 1px solid #a6bf9d;
  color: #a6bf9d;
}

.apartments {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  gap: 100px;
  padding-bottom: 80px;

  &__card {
    display: flex;
    flex-direction: row;
    width: 511px;
    height: 242px;
    border: none;
    border-radius: 21px;
    background-color: #f0f4ef;
    gap: 20px;

    &--img {
      display: flex;
      gap: 20px;

      img {
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;
        position: relative;
        z-index: 2;
      }
    }

    &--info {
      text-align: start;
      line-height: 0px;
      padding-top: 13px;

      &--location {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }

      p {
        color: #bdbdbd;
        font-size: 14px;
        font-family: "Inter", sans-serif;
      }

      &--more {
        display: flex;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

        &--beds {
          display: flex;
          gap: 6px;

          p {
            font-family: "Inter", sans-serif;
            color: #7d9077;
            font-size: 15px;
          }
        }
        &--map {
          display: flex;
          gap: 6px;

          p {
            font-family: "Inter", sans-serif;
            color: #7d9077;
            font-size: 15px;
          }
        }

        &--stairs {
          display: flex;
          gap: 6px;

          p {
            font-family: "Inter", sans-serif;
            color: #7d9077;
            font-size: 15px;
          }
        }
      }

      &--plus {
        display: flex;
        justify-content: space-between;

        &--avaible {
          line-height: 10px;

          p {
            color: #bdbdbd;
            font-family: "Inter", sans-serif;
            font-size: 15px;
          }

          span {
            color: #7d9077;
            font-size: 14px;
            font-family: "Inter", sans-serif;
          }
        }

        &--price {
          line-height: 10px;

          p {
            color: #7d9077;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: bold;
          }

          span {
            color: #616161;
            font-size: 15px;
            font-family: "Inter", sans-serif;
          }
        }
      }
    }

    h4 {
      color: #7d9077;
      font-family: "Inter", sans-serif;
      font-size: 22px;
    }
  }

  &__card:hover {
    background-color: #d3dfce;
  }
}

.street {
  min-height: 30px;
}

.atocha:hover {
  background-image: url("../../../public/assets/apartments/atochahover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.carranza:hover {
  background-image: url("../../../public/assets/apartments/carranzahover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.cedaceros:hover {
  background-image: url("../../../public/assets/apartments/cedaceroshover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.costanilla:hover {
  background-image: url("../../../public/assets/apartments/costanillahover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.colegiata:hover {
  background-image: url("../../../public/assets/apartments/colegiatahover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.quijote:hover {
  background-image: url("../../../public/assets/apartments/quijotehover.svg");
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

.switchBtn {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}
.switchBtn input {display:none;}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5efe9;
  -webkit-transition: .4s;
  transition: .4s;

}
.slide:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 2px;
  background-color: #4c4c4c;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slide {
  background-color: #a6bf9d;
}
input:focus + .slide {
  box-shadow: 0 0 2px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -8px;
}

.slide.round {
  border-radius: 100px;
  border: 1px solid #4c4c4c;

}
.slide.round:before {
  border-radius: 100px;
  border: 1px solid #4c4c4c;
}